packages/MySql.ConnectorNET.Data.6.8.3/MySql.ConnectorNET.Data.6.8.3.nupkg
packages/MySql.ConnectorNET.Data.6.8.3/Readme.txt
packages/MySql.ConnectorNET.Data.6.8.3/content/app.config.transform
packages/MySql.ConnectorNET.Data.6.8.3/content/web.config.transform
packages/MySql.ConnectorNET.Data.6.8.3/lib/net20/MySql.Data.dll
packages/MySql.ConnectorNET.Data.6.8.3/lib/net40/MySql.Data.dll
packages/MySql.ConnectorNET.Data.6.8.3/lib/net45/MySql.Data.dll
packages/MySql.ConnectorNET.Entity.6.8.3.2/MySql.ConnectorNET.Entity.6.8.3.2.nupkg
packages/MySql.ConnectorNET.Entity.6.8.3.2/Readme.txt
packages/MySql.ConnectorNET.Entity.6.8.3.2/content/app.config.transform
packages/MySql.ConnectorNET.Entity.6.8.3.2/lib/net40/MySql.Data.Entity.EF6.dll
packages/MySql.ConnectorNET.Entity.6.8.3.2/lib/net45/MySql.Data.Entity.EF6.dll
packages/Xamarin.Android.Support.Design.23.0.1.3/Xamarin.Android.Support.Design.23.0.1.3.nupkg
packages/Xamarin.Android.Support.Design.23.0.1.3/lib/MonoAndroid403/Xamarin.Android.Support.Design.dll
packages/Xamarin.Android.Support.v4.23.0.1.3/Xamarin.Android.Support.v4.23.0.1.3.nupkg
packages/Xamarin.Android.Support.v4.23.0.1.3/lib/MonoAndroid403/Xamarin.Android.Support.v4.dll
packages/Xamarin.Android.Support.v7.AppCompat.23.0.1.3/Xamarin.Android.Support.v7.AppCompat.23.0.1.3.nupkg
packages/Xamarin.Android.Support.v7.AppCompat.23.0.1.3/lib/MonoAndroid403/Xamarin.Android.Support.v7.AppCompat.dll
packages/Xamarin.Android.Support.v7.CardView.23.0.1.3/Xamarin.Android.Support.v7.CardView.23.0.1.3.nupkg
packages/Xamarin.Android.Support.v7.CardView.23.0.1.3/lib/MonoAndroid403/Xamarin.Android.Support.v7.CardView.dll
packages/Xamarin.Android.Support.v7.MediaRouter.23.0.1.3/Xamarin.Android.Support.v7.MediaRouter.23.0.1.3.nupkg
packages/Xamarin.Android.Support.v7.MediaRouter.23.0.1.3/lib/MonoAndroid403/Xamarin.Android.Support.v7.MediaRouter.dll
packages/Xamarin.Forms.2.2.0.45/Xamarin.Forms.2.2.0.45.nupkg
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/ICSharpCode.Decompiler.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/ICSharpCode.NRefactory.CSharp.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/ICSharpCode.NRefactory.Cecil.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/ICSharpCode.NRefactory.Xml.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/ICSharpCode.NRefactory.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Mono.Cecil.Mdb.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Mono.Cecil.Pdb.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Mono.Cecil.Rocks.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Mono.Cecil.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.Build.Tasks.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.2.0.45/build/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.targets
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/FormsViewGroup.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/FormsViewGroup.pdb
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/Xamarin.Forms.Core.pdb
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/Xamarin.Forms.Platform.Android.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/Xamarin.Forms.Platform.Android.pdb
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/Xamarin.Forms.Xaml.pdb
packages/Xamarin.Forms.2.2.0.45/lib/MonoAndroid10/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/Xamarin.Forms.Core.pdb
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/Xamarin.Forms.Platform.iOS.Classic.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/Xamarin.Forms.Xaml.pdb
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/ar/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/ca/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/cs/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/da/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/de/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/el/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/es/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/fi/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/fr/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/he/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/hi/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/hr/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/hu/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/id/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/it/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/ja/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/ko/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/ms/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/nb/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/nl/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/pl/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/pt-BR/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/pt/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/ro/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/ru/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/sk/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/sv/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/th/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/tr/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/uk/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/vi/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/zh-HK/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/zh-Hans/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/MonoTouch10/zh-Hant/Xamarin.Forms.Platform.iOS.Classic.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/WP80/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/WP80/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/WP80/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.2.0.45/lib/WP80/Xamarin.Forms.Core.pdb
packages/Xamarin.Forms.2.2.0.45/lib/WP80/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.2.0.45/lib/WP80/Xamarin.Forms.Platform.WP8.dll
packages/Xamarin.Forms.2.2.0.45/lib/WP80/Xamarin.Forms.Platform.WP8.pdb
packages/Xamarin.Forms.2.2.0.45/lib/WP80/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.2.0.45/lib/WP80/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.2.0.45/lib/WP80/Xamarin.Forms.Xaml.pdb
packages/Xamarin.Forms.2.2.0.45/lib/WP80/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/Xamarin.Forms.Core.pdb
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/Xamarin.Forms.Platform.iOS.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/Xamarin.Forms.Platform.iOS.pdb
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/Xamarin.Forms.Xaml.pdb
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/ar/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/ca/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/cs/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/da/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/de/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/el/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/es/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/fi/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/fr/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/he/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/hi/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/hr/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/hu/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/id/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/it/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/ja/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/ko/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/ms/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/nb/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/nl/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/pl/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/pt-BR/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/pt/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/ro/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/ru/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/sk/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/sv/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/th/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/tr/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/uk/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/vi/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/zh-HK/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/zh-Hans/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/Xamarin.iOS10/zh-Hant/Xamarin.Forms.Platform.iOS.resources.dll
packages/Xamarin.Forms.2.2.0.45/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.2.0.45/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.Core.pdb
packages/Xamarin.Forms.2.2.0.45/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.2.0.45/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.2.0.45/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.Platform.pdb
packages/Xamarin.Forms.2.2.0.45/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.2.0.45/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.Xaml.pdb
packages/Xamarin.Forms.2.2.0.45/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+MonoTouch10+Xamarin.iOS10/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Platform.UAP.dll
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Platform.UAP.pri
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Platform.UAP/FormsTextBoxStyle.xbf
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Platform.UAP/PageControl.xbf
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Platform.UAP/Properties/Xamarin.Forms.Platform.UAP.rd.xml
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Platform.UAP/Resources.xbf
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Platform.UAP/Xamarin.Forms.Platform.UAP.xr.xml
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.2.0.45/lib/uap10.0/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.2.0.45/lib/win81/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/win81/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet.dll
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet.pri
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/FormsTextBoxStyle.xbf
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/Resources.xbf
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/TabletResources.xbf
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.WinRT.Tablet/Xamarin.Forms.Platform.WinRT.Tablet.xr.xml
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.WinRT.dll
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.WinRT.pri
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.WinRT/PageControl.xbf
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.WinRT/StepperControl.xbf
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.WinRT/Xamarin.Forms.Platform.WinRT.xr.xml
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.2.0.45/lib/win81/Xamarin.Forms.Xaml.xml
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Design/Xamarin.Forms.Core.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Design/Xamarin.Forms.Xaml.Design.dll
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Core.dll
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone.dll
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone.pri
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/FormsTextBoxStyle.xbf
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/PhoneResources.xbf
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/Resources.xbf
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/SearchBox.xbf
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT.Phone/Xamarin.Forms.Platform.WinRT.Phone.xr.xml
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT.dll
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT.pri
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT/PageControl.xbf
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT/StepperControl.xbf
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.WinRT/Xamarin.Forms.Platform.WinRT.xr.xml
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Platform.dll
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Xaml.dll
packages/Xamarin.Forms.2.2.0.45/lib/wpa81/Xamarin.Forms.Xaml.xml
