@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Plan Pracy</h1>
    <p class="lead">Aplikacja do gromadzenia informacji o najbliższych spotkaniach, telefonach </p>
   
</div>

<div class="row">
    
    <h3>Karta pracy - co chcesz zrobić?</h3>
    <div class="col-md-4">

        <p>
            Przejdz na kartę zaplanowanych spotkań, telefonów, emaili.
            <li>@Html.ActionLink("Zaplanowane spotkania", "Index", "KartaKontaktu")</li>
        </p>

    </div>
    <div class="col-md-4">
        <p>Przejdź na kartę o zgromadzonych sklepach. </p>
        <li>@Html.ActionLink("Sklepy ", "Index", "Sklep")</li>
    </div>
    <div class="col-md-4">
        <p>Przejdź do zakładki kontakty. Możesz wprowadzić informacje o nowych osobach, właścicielach sklepów. </p>
        <li>@Html.ActionLink("Kontakty", "Index", "Kontakt")</li>
    </div>
</div>